{% extends 'base.html.twig' %}

{% block title %}Productions index{% endblock %}

{% block body %}
    <h1>Productions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Serial</th>
                <th>Production_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for production in productions %}
            <tr>
                <td>{{ production.id }}</td>
                <td>{{ production.serial }}</td>
                <td>{{ production.productionDate ? production.productionDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_productions_show', {'id': production.id}) }}">show</a>
                    <a href="{{ path('app_productions_edit', {'id': production.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_productions_new') }}">Create new</a>
{% endblock %}
