{% extends 'base.html.twig' %}

{% block title %}Productions{% endblock %}

{% block body %}
    <h1>Productions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ production.id }}</td>
            </tr>
            <tr>
                <th>Serial</th>
                <td>{{ production.serial }}</td>
            </tr>
            <tr>
                <th>Production_date</th>
                <td>{{ production.productionDate ? production.productionDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_productions_index') }}">back to list</a>

    <a href="{{ path('app_productions_edit', {'id': production.id}) }}">edit</a>

    {{ include('productions/_delete_form.html.twig') }}
{% endblock %}
